<div class='row'>
  <div class='col-xs-3'>
    <%= simple_form_for @user do |f| %>
      <%= f.input :nickname%>
      <%= f.input :avatar %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
