.canvas{
  position:absolute;
}

#board{
  z-index: 100
}

#screen{
  z-index: 99
}

.canvas_block{
  width:800px;
  height: 800px;
}

.player_hp{
  color: red;
  font-size: 36px;
  margin-right: 10px;
}

